<div class="widget clearfix d-none d-sm-inline">
    <div class="widget-title">
        <h3><span>Our Pages</span></h3>
    </div><!-- end widget-title -->

    <div class="category-widget">
        <ul>
            <li><a href="#">About me</a></li>
            <li><a href="#">Trademark &amp; Copy</a></li>
            <li><a href="#">Get In Touch</a></li>
            <li><a href="#">Ask a Question</a></li>
            <li><a href="#">Terms of Usage</a></li>
        </ul>
    </div><!-- end category -->
</div><!-- end widget -->
