<div class="widget clearfix d-none d-lg-block">
    <div class="widget-title">
        <h3><span>About JT</span></h3>
    </div><!-- end widget-title -->

    <div class="category-widget">
        <p> 
        &nbsp &nbsp &nbsp &nbsp混迹北京IT行业五年的老兵了，最初一年多时间做过基于PostgreSQL的二次开发，
        靠PostgreSQL DBA吃饭工作三年有余，有空也写写Python代码，开发些运维工具&平台。工作之余喜欢和朋友爬爬山，吹吹牛。
        <br>
        &nbsp &nbsp &nbsp &nbsp此网站目的是记录平时运维知识，以分享促进步。记录工作笔记。
        好记性不如烂笔头。自已日拱一卒，进步每一天！若能帮助到阅读者，也是最大的喜悦。 赠人玫瑰,手有余香!
        </p>
    </div><!-- end category -->
</div><!-- end widget -->
