<div class="widget clearfix d-none d-lg-block">
    <div class="widget-title">
        <h3><span>Follow on Instagram</span></h3>
    </div><!-- end widget-title -->
    <div class="instagram-wrapper clearfix">
        <a href="#"><img src="/static/images/insta_01.jpeg" alt="" class="img-fluid"></a>
        <a href="#"><img src="/static/images/insta_02.jpeg" alt="" class="img-fluid"></a>
        <a href="#"><img src="/static/images/insta_03.jpeg" alt="" class="img-fluid"></a>
        <a href="#"><img src="/static/images/insta_04.jpeg" alt="" class="img-fluid"></a>
        <a href="#"><img src="/static/images/insta_05.jpeg" alt="" class="img-fluid"></a>
        <a href="#"><img src="/static/images/insta_06.jpeg" alt="" class="img-fluid"></a>
        <a href="#"><img src="/static/images/insta_07.jpeg" alt="" class="img-fluid"></a>
        <a href="#"><img src="/static/images/insta_08.jpeg" alt="" class="img-fluid"></a>
        <a href="#"><img src="/static/images/insta_09.jpeg" alt="" class="img-fluid"></a>
    </div><!-- end Instagram wrapper -->
</div><!-- end widget -->

